configuration {
    /* Enable application icons */
    terminal: "kitty";
    /* Position of window (0 is center) */
    location: 0;
    /* Hide the vertical scrollbar */
    hide-scrollbar: true;
    /* Disable the mode switcher */
    sidebar-mode: false;
}

/* Load the color variables from the theme */
@theme "colors"

/* 1. window */
window {
    border: 1px;
    border-color: @border-col;
    border-radius: 8px;
    background-color: @bg-col;
    width: 266px;
}

/* 2. mainbox */
mainbox {
    orientation: horizontal;
    children: [ inputbar, listview ];
    background-color: transparent;
    padding: 10px;
    spacing: 10px;
}

/* 3. inputbar */
inputbar {
    children: [ entry ];
    background-color: transparent;
    orientation: horizontal;
}

/* 4. prompt */
prompt {
    enabled: false;
}

/* 5. entry */
entry {
    enabled: true;
    padding: 10px 0px;
    text-color: @fg-col;
    background-color: transparent;
    placeholder: "Search...";
    placeholder-color: @fg-col;
}

/* 6. listview */
listview {
    layout: horizontal;
    lines: 10;
    spacing: 8px;
    fixed-height: false;
    fixed-columns: false;
    background-color: transparent;
}

/* 7. element */
element {
    padding: 10px 15px;
    background-color: transparent;
    text-color: @fg-col;
    border-radius: 4px;
}

/* Styling for the currently selected item container */
element selected {
    background-color: @selected-col;
    text-color: @fg-col2;
}

/* 8. element-icon */
element-icon {
    enabled: false;
    background-color: transparent;
    text-color: inherit;
}

/* 9. element-text */
element-text {
    background-color: transparent;
    text-color: inherit;
    horizontal-align: 0.5;
    vertical-align: 0.5;
}

/* Force text element inside selection to remain completely transparent */
element selected element-text {
    background-color: transparent;
    text-color: @fg-col2;
}

/* 10. textbox (and error-message container) */
textbox {
    text-color: @fg-col;
    background-color: transparent;
    horizontal-align: 0.5;
    vertical-align: 0.5;
}

/* Error message container window */
error-message {
    background-color: @bg-col;
    padding: 50px; 
    margin: 0px;
}